body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-page__title {
  text-align: center;
}

.base-page__columnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons-wrapper {
  text-align: center;
}

.nav-row {
  padding: 18px 18px;
}