.teamCard {
    &__tableHeader {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: bold;
    }
    &__playerRows {
        &--header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
        }
    }

    &__jerseyNumber,
    &__fieldGoals,
    &__freeThrows,
    &__points,
    &__assists,
    &__rebounds,
    &__fouls {
        width: 11%;
        border: 1px solid gray;
    }

    &__playerName {
        width: 23%;
        border: 1px solid gray;
    }
}